<div style = "background-color: white; text-align: center" class="container">
 <h2 style = "text-align: center">Registrazione</h2>
 <button style = "float: right" type="submit" class="btn btn-primary">Log In</button>
 <form style = "background-color: light-gray;" [formGroup]="myForm"
       (ngSubmit)="onSubmit()"
       class="jumbotron">

   <div class="form-group">
     <label for="nomeInput">Nome</label>
     <input type="text"
           id="nomeInput"
           placeholder="Nome"
           name="nome"
           [formControl]="myForm.controls['nome']"
           class="form-control">
     <br>
     <label for="cognomeInput">Cognome</label>
     <input type="text"
           id="cognomeInput"
           placeholder="Cognome"
           name="cognome"
           [formControl]="myForm.controls['cognome']"
           class="form-control">
     <br>
     <label for="usernameInput">Username</label>
     <input type="text"
           id="usernameInput"
           placeholder="Usernome"
           name="username"
           [formControl]="myForm.controls['username']"
           class="form-control">
     <br>
     <label for="emailInput">Email</label>
     <input type="email"
           id="emailInput"
           placeholder="Email"
           name="email"
           [formControl]="myForm.controls['email']"
           class="form-control">
     <br>
     <label for="passwordInput">Password</label>
     <input type="password"
           id="passwordInput"
           placeholder="Password"
           name="password"
           [formControl]="myForm.controls['password']"
           class="form-control">
   </div>
   <button type="submit" class="btn btn-primary">Registrati</button>
   <br>
   <br>
   <div *ngIf="!myForm.controls['nome'].valid"
    class="alert alert-danger">Nome non è valido
   </div>
   <br>
   <div *ngIf="!myForm.controls['cognome'].valid"
    class="alert alert-danger">Cognome non è valido
   </div>
   <br>
   <div *ngIf="!myForm.controls['username'].valid"
    class="alert alert-danger">Username non è valido
   </div>
   <br>
   <div *ngIf="!myForm.controls['email'].valid"
    class="alert alert-danger">Email non è valida
   </div>
   <br>
   <div *ngIf="!myForm.controls['password'].valid"
    class="alert alert-danger">Password non è valida
   </div>
   <br>
 </form>
</div>

<div class="w-50 text-center" style="margin: 50px auto">
  <h2>Elenco appuntamenti</h2>
  <ul class="list-group">
    <li *ngFor="let registrazione of registrazioni" class="list-group-item text-center">
      {{ registrazione.nome }} - {{ registrazione.cognome }}  ->  {{ registrazione.username }}  ->  {{ registrazione.email }}</li>
  </ul>
</div>
